.menu_button {
  .material-symbols-outlined {
    font-size: 22px;
  }
}

.sub_nav {
  position: absolute;
  overflow: hidden;
  transition: 0.5s;

  button {
    padding-left: 64px;

    &.active::before {
      background: #f9f9f9;
    }
  }
}
