.sidebar {
  transition: width 0.4s;

  button {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    line-height: 1;
    padding: 16px;
    color: #6c5dd3;
    background-color: transparent;

    span:nth-child(2) {
      flex: 1 1 auto;
    }
  }
}
